body {
    width: 100%;
    background-color: aqua;
    padding: inherit;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
}
#wrapper {
    /* this is the outer div, so text-align is inherited by child */
    text-align: center;
}
#innerContent {
    /* this is the child of div.wrapper, and for page to align center, the parent must be text-align: center, and this child must display: inline-block */
    display: inline-block;
    margin: auto;
    width: 88%;
    background-color: #FFF;
}
h1, h2, h3, h4, h5, h6, .error, .success {
    font-family: 'Open Sans', sans-serif;
}
.error {
    color: red;
}

.success {
    color: green;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 20px;
}
/* make the images responsive */
    .responsiveImg {
        width: 100%;
        height: auto;
    }

/* now define form styles */
#formLables {
    text-align: right;
    width: 345px;
    float: left;
}
#formFiels {
    text-align: left;
    float: right;
}
#copyP {
    text-align: right;
    font-size: 8px;
}
#userTable {
    clear: both;
    margin: auto;
    
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
</style>
/* lets set some selectors for smaller screens */
@media only screen and (max-width: 1200px) {
      body {
        width: 100%;
  }
    #formLables {
        display: none;
    }
    #formFiels {
        clear: both;
}
}
