body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;  
    font-size: 150%;
    background-color: lightblue;
}
div {
    width: 80%;
    border: 1.25em;
    padding: 1.5em;
    background-color: #FFFFFF;
    margin: 1em 10%;
}
